<!-- Cabecera de todas las páginas. Los enlaces "./#…" funcionan desde cualquier página. -->
<header class="header">
  <div class="container header__inner">
    <a class="header__brand" href="./">
      <img class="sello" src="assets/logo/sello-principal.svg" alt="" width="40" height="40">
      <span>Camilo Prado</span>
    </a>
    <nav aria-label="Principal">
      <ul class="header__nav">
        <li><a href="./#programa">Programa</a></li>
        <li><a href="./#para-ti">Para ti</a></li>
        <li><a href="./#encuentros">Encuentros</a></li>
        <li><a href="./#quien-soy">Quién soy</a></li>
        <li><a class="header__cta" href="./#contacto">Escríbeme</a></li>
      </ul>
    </nav>
  </div>
</header>
